p {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    color: rgb(107, 255, 2);
    background-color: black;
}

h1 {
    color: crimson;
    background-color: black;
}

h4 {
    color: brown;
    background-color: black;
}

body {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    background: rgba(3, 19, 84, 0.44);
}

div {
   display: block;
   border-style: double; 
   /* background: rgba(0, 0, 0, 0.412); */
   padding: 1rem;
}

li {
    color: chartreuse;
}

ul {
    padding: 30px;
    border-spacing: 1rem;
    margin: auto;
    border-radius: 0.7rem;
    border-style: double; 
    background: rgba(0, 0, 0, 0.412);
    color: blue;
    display: block;
 }

 td, tr, th {
    padding: 1rem;
    border-style: double;
    
 }

 td {
    border-style: solid;
    border-width: 0.5rem;
    border-color: black;
   
   }

header {
      position: relative;
   }

#toplogo {
   width: 120px;
   position: absolute;
}

h2 {
   color: rgb(0, 103, 36);
   font-size: x-large;
   /* background-color: black; */
}

#cutter {
   width: 250px;
   height: 250px;
}

#merchware {
   width: 250px;
   height: 250px;
}

#frosted {
   width: 250px;
   height: 250px;
}

#schooloffish {
   width: 250px;
   height: 250px;
}

#lastfish {
   width: 560px;
   height: 250px;
}

#themeholder {
   background: rgba(0, 0, 0, 0.412);
}

#first-img-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    background: rgba(0, 0, 0, 0.412);
}

#second-img-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    background: rgba(0, 0, 0, 0.412);
}

caption {
   font-size: xx-large;
   padding-bottom: 1rem;
}

#operationtable {
   /* float: right; */
  
}

#locationcontainer {
   background: rgba(0, 0, 0, 0.412);
}

#hourcontainer {
   background: rgba(0, 0, 0, 0.412);
}

#hourtext {
   /* float: right; */
   padding-top: 1rem ;
   color: rgb(255, 255, 255);
   /* border-style: double; */
   border-width: 1rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   
}

#landingpage {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

#location {
   font-size: xx-large;
   padding-bottom: 1rem;
   color: rgb(255, 255, 255);
   /* border-style: double; */
   border-width: 1rem;
   padding-bottom: 1rem;
}

#imgtitle {
   padding-bottom: 1rem;
   

}

address {
   padding-bottom: 1rem;
}

blockquote {
   padding-top: 1rem;
}

#seattleList {
   background: rgba(0, 0, 0, 0.412);
}

/* #cuttertalk {
   
   width: 270px;
}

#frostedtalk {
   display: flex;
   width: 270px;
   
}

#merchtalk {
   float: right;
   width: 270px;
} */

 /* #DubaiList {
    border-style: double; 
    background: rgba(0, 0, 0, 0.412);
 }

 #ParisList {
    border-style: double; 
    background: rgba(0, 0, 0, 0.412);
 }

 #LimaList {
    border-style: double; 
    background: rgba(0, 0, 0, 0.412);
 } */ */
